<header class="pokeNavBar row align-items-center">
    <div class="col-6">
        <a class="toggle-sidebar"><i class="fa fa-bars"></i></a>
        <h1>Poke App</h1>
    </div>
    <div class="col-6 row align-items-center">
        <div class="col-6 input-group">
            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="col-6 user-icon">
            <a class="link-profile"><img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"></a>
        </div>

    </div>
</header>