<ul class="nav flex-column main-menu">
  <li class="nav-item">
    <a class="nav-link" routerLink="pokemons">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <span>Inicio</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="collections">
      <i class="fa fa-book" aria-hidden="true"></i>
      <span>Colección</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="favorites">
      <i class="fa fa-star" aria-hidden="true"></i>
      <span>Favoritos</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="logout()">
      <i class="fa fa-power-off" aria-hidden="true"></i>
      <span>Salir</span>
    </a>
  </li>
</ul>